<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>All Users</h5>
                    <div class="card-header-right"></div>
                  </div>
                  <div class="card-block">
                    <div class="table-responsive mt-3">
                      <table class="display table nowrap table-striped table-hover dataTable">
                        <thead>
                          <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Signed Up At</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @users.each do |user| %>
                            <tr>
                              <td><%= user.email %></td>
                              <td><%= user.created_at.strftime('%d-%m-%Y at %I:%H%p') %></td>
                              <td>
                                <%= link_to destroy_user_path(user.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                                  <i class="fas fa-trash"></i>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>